<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>No Time To Explain</title>
    <link rel="icon" href="/assets/favicon.jpg" />
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.13.1/dist/cdn/beer.min.css" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.13.1/dist/cdn/beer.min.js"></script>
    <link rel="stylesheet" href="/assets/index.css" crossorigin="anonymous" />
</head>

<body>
    <header class="fill">
        <nav>
            <button class="transparent s m">
                <i>menu</i>
                <menu class="no-wrap">
                    <li>
                        <a href="/">
                            <i class="small"><img src="/assets/favicon.jpg" /></i> Home
                        </a>
                    </li>
                    <li><a href="/channels"><i>chat_bubble</i> Channels</a></li>
                    <li><a href="/users"><i>person</i> Users</a></li>
                </menu>
            </button>
            <button class="transparent l">
                <a href="/">
                    <i class="small"><img src="/assets/favicon.jpg" /></i> Home
                </a>
            </button>
            <button class="transparent l"><a href="/channels"><i>chat_bubble</i> Channels</a></button>
            <button class="transparent l"><a href="/users"><i>person</i> Users</a></button>
            <span class="max"></span>

            {{ if .Username }}
                <button class="transparent"><a href="/logout"><i>logout</i> Logout</a></button>
            {{ end }}
        </nav>
    </header>

    <main class="responsive">
