<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>No Time To Explain</title>
    <link rel="icon" href="/assets/favicon.jpg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/index.css" crossorigin="anonymous" />
</head>

<body>
    <header class="container-fluid">
        <nav>
            <ul>
                <li class="logo"></li>
                <li><h1><a href="/">No Time To Explain</a></h1></li>
            </ul>
            {{ if .Username }}
            <ul>
                <li><a href="/logout"><i class="bi bi-door-closed"></i> Logout {{ .Username }}</a></li>
            </ul>
            {{ end }}
        </nav>
    </header>
