{{ template "header.gohtml" .}}

<main class="container">
    <h1>Login</h1>

    <section>
        <article>
        <p>Log into your Discord account for access to this site.</p>

        <p>
            <a href="/auth">
                <img src="/assets/discord.jpg" style="height: 3rem" />
            </a>
        </p>
        </article>
    </section>
</main>

{{ template "footer.gohtml" .}}
