name: build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      filename: ${{ steps.filename.outputs.filename }}
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3

      - name: build
        run: mise build

      - name: filename
        id: filename
        run: echo "filename=no-time-to-explain-$(date +'%Y.%m.%d')-${GITHUB_SHA::6}_linux_amd64.tgz" >> "$GITHUB_OUTPUT"

      - name: package
        run: tar cvzf ./${{ steps.filename.outputs.filename }} no-time-to-explain

      - uses: actions/upload-artifact@v5
        with:
          name: "artifact"
          path: ./${{ steps.filename.outputs.filename }}
          if-no-files-found: error
          retention-days: 1

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3

      - name: Vet
        run: go vet ./...

      - name: Staticcheck
        run: staticcheck ./...

      - name: Test
        run: go test -race -covermode=atomic ./...

  upload:
    uses: taiidani/deploy-action/.github/workflows/publish-binary.yml@main
    needs: [build, test]
    with:
      filename: "${{ needs.build.outputs.filename }}"

  deploy:
    uses: taiidani/deploy-action/.github/workflows/nomad.yml@main
    needs: upload
    if: ${{ github.ref == 'refs/heads/main' }}
    with:
      artifact: "${{ needs.upload.outputs.artifact }}"
      jobspec: no-time-to-explain.nomad

  deploy-refresh:
    uses: taiidani/deploy-action/.github/workflows/nomad.yml@main
    needs: upload
    if: ${{ github.ref == 'refs/heads/main' }}
    with:
      artifact: "${{ needs.upload.outputs.artifact }}"
      jobspec: no-time-to-explain-refresh.nomad
